body {
  margin: 0;
  background-color: antiquewhite;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.search-box{
  display: block;
  margin: auto;
  width:20%;
  margin-bottom: 30px;

}
.text-area{
  display: block;
  margin: auto;
  margin-bottom: 20px;
}


.list{
  
  background-color: cornflowerblue;
  width: 250px;
  height: 200px;
  border-radius: 15px;
  
  



}

.deletebutton{
  background-color: aqua;
  border-radius: 10px;
  padding:5px;
  margin: 4px;

}


.editbutton{
  background-color: aqua;
  border-radius: 10px;
  padding: 5px;

}